<div class="stream-form row">
  <div class="stream-form_paragraph-title col-12 d-flex justify-content-center align-items-center flex-nowrap">
    <span>Конфигурация потока</span>
  </div>

  <div class="stream-form_mimes col-12 d-flex justify-content-center align-items-center flex-wrap p-0">
    <ng-template let-mimeType ngFor [ngForOf]="mimeTypes">
        <mime-type-card [name]="mimeType?.name" (click)="mimeTypeSelector.change(mimeType)"></mime-type-card>
    </ng-template>
  </div>

  <div *ngIf="!mimeTypeSelector.isEmpty()"
       class="stream-form_paragraph-title col-12 d-flex justify-content-center align-items-center flex-nowrap">
    <span>Выбранная конфигурация потока</span>
  </div>

  <div class="stream-form_mimes col-12 d-flex justify-content-center align-items-center flex-wrap mt-2">
    <ng-template let-mimeType ngFor [ngForOf]="mimeTypeSelector.collect().values()">
      <mime-type-card [name]="mimeType?.name" (click)="mimeTypeSelector.change(mimeType)"></mime-type-card>
    </ng-template>
  </div>

  <div class="stream-form_panel-action d-flex justify-content-center" *ngIf="!mimeTypeSelector.isEmpty()">
    <button class="stream-form_btn stream-form_btn_blue" (click)="runStream()">Запустить</button>
  </div>
</div>
