<div class="stream-section row d-flex flex-nowrap">
  <div class="col-3 mb-3 mt-3" style="margin-right: 20px">
    <stream-form></stream-form>
  </div>
    <div class="col-9 mt-3">
      <ng-template [ngIf]="streams.length > 0">
      <stream-container [streams]="streams"></stream-container>
      </ng-template>
      <ng-template [ngIf]="streams.length === 0">
        <div style="width: 100%; text-align: center">
          <span>Потоков не найдено</span>
        </div>
      </ng-template>
    </div>
</div>
