.mime-type-card {
  height: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: max-content;
  padding: 5px 10px;

  cursor: pointer;

  color: rgba(0, 0, 0, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
